aiohttp==3.9.5
beautifulsoup4==4.12.3
py-cord==2.6.0
ezcord==0.6.5
google_api_python_client
googlesearch_python
Pillow==10.4.0
python-dotenv==1.0.1
pytube==15.0.0
Requests==2.32.3
google-generativeai
google-books-api-wrapper==1.0.5
pokepy